@font-face {
  src: url('OpenDyslexic3-Regular.ttf');
  font-family: 'OpenDyslexic3';
}

@font-face {
  src: url('Charter\ Regular.ttf');
  font-family: 'Charter';
}

@font-face {
  src: url('Barcelony.ttf');
  font-family: 'Barcelony';
}

@font-face {
  src: url('Arkipelago.ttf');
  font-family: 'Arkipelago';
}

@font-face {
  src: url('OpenSans-Regular.ttf');
  font-family: 'Open Sans';
}